/**
 * Cytonn Technologies
 *
 * @author: Ronnie Nyaga <rnyaga@cytonn.com>
 *
 * Project: sass.app
 *
 */

 // Partials
 @import "partials/backstretch";



// Third-party
@import "vendor/bootstrap-sprockets";
@import "vendor/bootstrap";
@import "vendor/bootstrap-compass";
@import "vendor/bootstrap-mincer";


//Variable
$transparency : rgba(255,255,255,0);

//Inheritance
.my-container{
    @extend .container;
    background-color : $transparency;
    margin: 10%;
}
 .main-area {
    @extend .row;
    z-index: 1000;
    background-color : $transparency;
    margin-top:100px;
}
.very-small-screen {
    @extend .col-xs-12  ;
    background-color : $transparency;
}
.small-screen {
    @extend .col-sm-6;
    background-color : $transparency;
}
.column-left {
    margin: 0 auto;
    color: #FFF;
    h3{
      text-align: center;
      font-size: 32 px;
      font-family: fantasy;
      font-weight: bold;
    }
    p{
      text-align: center;
      font-family: fantasy;
      font-weight: bold;
    }
}
.column-right {
    float : right;
}
